// Acceuil
.acc {

    h1 {
        padding-top: clamp(10px, 1%, 60px);
    }

}

// Concept
.concept {
    
    h1 {
        padding: 0 4%;
    }

    div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__step {
        margin: auto 0 0 2%;
        padding: clamp(5px, 3%, 20px) 0;
        border-radius: 25px;

        &__text {
            padding: clamp(5px, 0.5vw, 15px);
            padding-right: 3vw;
            font-size: clamp(9px, 2vw, 26px);

            i {
                padding-right: 1vw;
                padding-left: 3vw;
            }
        }

        &__circle {
            display: inline-block;
            background-color: #9356DC;
            width: clamp(18px, 4vw, 45px);
            height: clamp(18px, 4vw, 45px);
            border-radius: 50%;
            line-height: 45px;
            color: white;
            padding: 0;
        }
    }

}

// Store

.store__layout {

    display: grid;
    grid-template-columns: repeat(2,2fr) ;
}

// Card
.card {

    .material-symbols-outlined {
        font-size:4vw;
    }

    h3 {
        padding-top: 0.5vw;
    }

    &__img {
        height: 15vw;
        width: 100%;
        max-height: 216px;
    }

    &__tag {
        margin-top: 2vw;
        margin-left: 3vw;
        height: 3vw;
        width: 10vw;
        font-size: 2vw;
        line-height: 3vw;
    }
}

// Footer
footer {

    padding-left: 0;
    padding-bottom: 2%;
    width: 100vw;

    .i-margin {
        margin-right: 12px;
        margin-left: 3vw;
    }

    div {
        flex-direction: row;
        justify-content: space-between;
        width: 80vw;
    }

    i {
        font-size: unset;
        
        margin-right: 10px;
    }

    img {
        margin: 2vw 4vw 1vw 4vw;
        width: 18vw;
        padding: 0;
    }

    a {
        line-height: 2;
        padding: 0 1.4vw;
    }
}

// Media queries for large screens
@media (min-width: 1800px) {
    
    h1 {font-size: clamp(9px, 5.5vw, 50px);}
    h2 {font-size: clamp(9px, 5vw, 48px);}
    h3 {font-size: clamp(9px, 5vw, 46px);}
    span, a, input, .form__plc {font-size: clamp(9px, 5vw, 46px);}
    .concept__step__text { font-size: clamp(9px, 2vw, 46px);}

    header img {
        width: unset;
    }

    .acc h2 {
        margin: 0 auto 1% auto;
    }

    .card h3 {
        padding-top: 1vw;
    }

    .card__img {
        max-height: none;
    }

    .form {
        max-width:450px;
        i {
            font-size: clamp(9px, 5vw, 56px);
        }

    }

    .concept__step__circle {
        width: clamp(18px, 4vw, 65px);
        height: clamp(18px, 4vw, 65px);
        line-height: 60px;
    }
    
}